<div class="header">
    <div class="unnecessary">
        <div class="header-inner">
            <h1 class="logo"><a class="pngFix" href="http://www.wandoujia.com/apps">安卓应用下载</a></h1>
            <div class="app-nav">
                <ul>
                    <li class="cat-apps"><a href="http://www.wandoujia.com/apps">应用首页</a></li>
                    <li class="cat-app"><a href="http://www.wandoujia.com/tag/app">软件</a></li>
                    <li class="cat-game"><a href="http://www.wandoujia.com/tag/game">游戏</a></li>
                    <li class="cat-special"><a href="http://www.wandoujia.com/special">专题</a></li>
                    <li class="cat-top"><a href="http://www.wandoujia.com/top" >排行榜</a></li>
                    <li class="cat-award"><a href="http://www.wandoujia.com/award">设计奖</a></li>
                </ul>
            </div>


            <div class="functions">
                <div class="promotion">
                    <a href="http://www.wandoujia.com" class="button-green button-small"><i class="pngFix"></i>下载豌豆荚</a>
                </div>
                <div id="device-info"></div>
                <form class="search-box" action="/search">
                    <input class="search-ipt" name="key" value="" autocomplete="off" placeholder="搜索安卓软件和游戏" id="searchInput">
                    <span class="search-btn">&nbsp;<input type="submit" class="pngFix" value="搜索"></span>
                </form>
            </div>
        </div>
    </div>
</div>