/* line 5, ../sass/ie6.scss */
#left .link-wdj a,
#center .link-wdj a,
#right .link-wdj a {
  position: absolute;
  top: 40px;
  right: 40px;
}
/* line 11, ../sass/ie6.scss */
#left .link-wdj a:hover,
#center .link-wdj a:hover,
#right .link-wdj a:hover {
  text-decoration: underline;
}
/* line 16, ../sass/ie6.scss */
#left #share,
#center #share,
#right #share {
  width: 100%;
}
/* line 19, ../sass/ie6.scss */
#left #share li,
#center #share li,
#right #share li {
  cursor: pointer;
  display: inline;
  zoom: 1;
}
/* line 24, ../sass/ie6.scss */
#left #share li .tip,
#center #share li .tip,
#right #share li .tip {
  background-color: #000;
  opacity: .7;
  width: 140px;
}
/* line 29, ../sass/ie6.scss */
#left #share li .tip .arrow,
#center #share li .tip .arrow,
#right #share li .tip .arrow {
  display: none;
}

/* line 38, ../sass/ie6.scss */
#left .wdj-logo {
  display: inline;
  height: 68px;
  zoom: 1;
}

/* line 47, ../sass/ie6.scss */
#center a .icon {
  margin-top: 2px;
}
/* line 53, ../sass/ie6.scss */
#center #logos .wdj-logo {
  display: inline;
  zoom: 1;
}
/* line 60, ../sass/ie6.scss */
#center #main .guide-ctn {
  left: -195px;
  margin: 0;
}

/* line 68, ../sass/ie6.scss */
#right .wdj-logo {
  display: block;
  height: 70px;
  width: 200px;
  zoom: 1;
}
